<h3>User</h3>
<p>Name: <%= @user.name if @user.name %></p>
<p>Friends Count: <%= @user_twitter.friends_count %></p>
<p>Followers Count: <%= @user_twitter.followers_count %></p>
<p>Favorites Count: <%= @user_twitter.favorites_count %></p>

